<!DOCTYPE html>
<html>
<head>
  <title>Angman</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="angman" ng-controller="mainController">
  <div class="startGame" ng-if="!gameActive">
    <div class="startGameBackground"> </div>
    <button class="startButton" ng-click="newGame()" > New Game </button>
  </div>
<button class="resetButton" ng-click="newGame()" ng-if="gameActive" ng-class="{'resetAfterGameover': resetTrue === true}"> Restart Game </button>

<div class="gamePlayContainer" ng-show="gameActive">

  <div class="targetWordContainer">
    <div class="targetWord">
      <div class="targetWordLetter" ng-repeat="char in targetWord track by $index" ng-class="{'hiddenLetter':!checkIfGuessed(char)}">
        <div ng-show="checkIfGuessed(char)"> {{char}} </div>
      </div>
    </div>
  </div>

  <div class="userInput half">
    <form novalidate name="userGuess" ng-submit="submitGuess();">
      <!-- input type radio, for guess full word option -->
      <input type="text" ng-model="guess" required>
      <input type="submit" class="guessButton" value="submit" />
    </form>
    <p ng-show="errorMessage" class="errorMessage"> {{errorMessage}} </p>
  </div>

  <div class="alphabetBox quarter">
    <ul>
      <li ng-repeat="letter in alphabet" ng-class="{'letterGuessed': checkIfGuessed(letter), 'correctGuess': checkIfCorrectGuess(letter)}">{{ letter }}</li>
    </ul>
  </div>

  <ul class="livesCount quarter">
    <li>Lives: </li>
    <li class="life" ng-repeat="life in getLives(lives) track by $index"></li>
  </ul>

</div>
  <script src="lib/angular/angular.min.js"></script>
  <script src="javascripts/main.js"></script>
</body>
</html>
